
.small-divider-color-medium, .small-divider-color-lighter, .small-divider-color-light{
  margin-top: 8px;
  margin-bottom: 7px;
  height: 1px;
  border: none;

}
.small-divider-color-medium{
  border-top: solid #dcdcdc;

}
.small-divider-color-lighter{
  border-top: solid #ffffff;

}
.small-divider-color-light{
  border-top:solid #f7f7f7;
}
.medium-divider-color-medium, .medium-divider-color-light, .medium-divider-color-lighter{
  margin-top: 16px;
  margin-bottom: 15px;
  height: 1px;
  border: none;
}
.medium-divider-color-medium{
  border-top: solid #dcdcdc;
}
.medium-divider-color-light{
  border-top: solid #f7f7f7;
}

.medium-divider-color-lighter{
  border-top: solid #ffffff;
}


